{{define "playbook"}}
---
#
# Test-Flight Test Playbook
#
# Test-Flight v{{.Meta.Version}} Generated Playbook File
#

- hosts: localhost
  sudo: True
  roles:
    - role: ./

# - include: tests/integration-tests.yml
{{end}}
