{{define "testFlightDockerAdd"}}
{{if .AddSystem}}
# -----> Add System Entries
{{range $item := .AddSystem}}
ADD {{$item}} $WORKDIR/{{$item}}
{{end}}
# <----- end Add System Entries
{{end}}

# Add Test-Flight docker playbook and inventory
ADD docker/inventory /etc/ansible/hosts
ADD docker/playbook.yml $WORKDIR/playbook.yml
{{end}}
